In [ ]:
# A string to lower case

In [ ]:
x = "GOOD MORNING everyone!!"

In [ ]:
x.lower()

In [ ]:
# Odd indexed characters to lower case

In [ ]:
x = "ABCDEFGH"
x[0].upper()+x[1].lower()+x[2].upper()+x[3].lower()+x[4].upper()+x[5].lower()+x[6].upper()+x[7].lower()

#or we can use maketrans

In [ ]:
x ="ABCDEFGH"
x1=x.maketrans("BDFH","bdfh")

In [ ]:
x1

In [ ]:
x.translate(x1)

In [ ]:
# even indexed characters to lower case

In [ ]:
x = "ABCDEFGH"
x[0].lower()+x[1].upper()+x[2].lower()+x[3].upper()+x[4].lower()+x[5].upper()+x[6].lower()+x[7].upper()

In [ ]:
# or we can use maketrans
odd = "ABCDEFGH"
odd1=odd.maketrans("ACEG","aceg")

In [ ]:
odd1

In [ ]:
odd.translate(odd1)

In [ ]:
# Odd indexed characters to upper case
x = "manasa"
x[0].lower()+x[1].upper()+x[2].lower()+x[3].upper()+x[4].lower()+x[5].upper()

In [ ]:
# or we can use maketrans
name = "manasa"
name1 = name.maketrans("a","A")

In [ ]:
name1

In [ ]:
name.translate(name1)

In [ ]:
x = "manasa"
x.replace("a","A")

In [ ]:
# even indexed characters to upper case

In [70]:
x = "jupyter"
x[0].upper()+x[1].lower()+x[2].upper()+x[3].lower()+x[4].upper()+x[5].lower()+x[6].upper()

'JuPyTeR'

In [71]:
x = "jupyter"
x1 = x.maketrans("jptr","JPTR")

In [72]:
x1

{106: 74, 112: 80, 116: 84, 114: 82}

In [73]:
x.translate(x1)

'JuPyTeR'

In [ ]:
#Write a python program where you have different variable which contains your name ,sex,age, phone no ,
fathers name and mothers name. Make a Bio data

In [4]:
Name = input("What is your name?: ")
sex = input("Enter your sex: ")
age = int(input("What is your age?: "))
ph_no = int(input("Enter your phone number: "))
Father = input("Enter your father name: ")
mother = input("Enter your mother name: ")
Bio_data=print("My name is {} and I am {}. I am {} years old. My phone number {}. My father's name is {}. My mother's name is \
{}.".format(Name,sex,age,ph_no,Father,mother))

What is your name?: Jack
Enter your sex: male
What is your age?: 26
Enter your phone number: 90000000
Enter your father name: xyz
Enter your mother name: zyx
My name is Jack and I am male. I am 26 years old. My phone number 90000000. My father's name is xyz. My mother's name is zyx.

In [ ]:
#Write a python program to count how many times “@” occurred

In [5]:
x =  "@@##!!!I AM @@!!##MANASA@@@"
x.count("@")

7

In [ ]:
# Write a python program to get only names from the string

In [26]:
mail = "xyz96@gmail.com"
mail2 = "abc96@gmail.com"
mail3 = "jack12@gmail.com"
print(mail.split("@gmail.com")[0]) 
print(mail2.split("@gmail.com")[0])
print(mail3.split("@gmail.com")[0])

xyz96
abc96
jack12

In [94]:
mail = "name1@gmail.com"+"name2@gmail.com"+"name3@gmail.com"
mail.replace("@gmail.com",",").strip(",")

'name1,name2,name3'

In [ ]:
#Given a string of odd length greater that 9, return a new string made of the middle three characters of a given String

In [63]:
word = "mynameisissan"

In [65]:
word[4:-6]

'mei'

In [77]:
# Write a python program to insert a 2 string in the middle of 1 string
x="masa"
y="na"
x[0:2]+y+x[2:5]

'manasa'

In [ ]:
# Write a program to remove vowels from the entire alphabets

In [81]:
ALP ="abcdefghijklmnopqrstuvwxyz"
vowels = ALP.maketrans("aeiou","11111")

In [89]:
vowels

{97: 49, 101: 49, 105: 49, 111: 49, 117: 49}

In [90]:
vowels1=ALP.translate(vowels)

In [91]:
vowels1

'1bcd1fgh1jklmn1pqrst1vwxyz'

In [92]:
vowels1.replace("1","")

'bcdfghjklmnpqrstvwxyz'